<div>
    <app-header [user]="user"></app-header>
    <app-child></app-child>
    <!--  <app-login></app-login>-->
    <!--  <img status="You need to eat two more servings of fruit" src="assets/images/apple.png">
    <section *ngIf="!user.registered">
        <img src="../assets/images/chooseMyPlate.gov.png">
    </section>
    <section *ngIf="user.registered">
        <img src="../assets/images/generic-plate.png">
    </section>
    <div [ngSwitch]="loggedIn">
        <p>Logged In:
            <span *ngSwitchCase="false" class="notRegistered">{{ loggedIn }}</span>
            <span *ngSwitchCase="true">{{ loggedIn }}</span>
            <span *ngSwitchDefault>Default Text Goes Here</span>
        </p>
    </div>
    <app-child (login)="login($event)"></app-child>

    <p>This text is <span [ngStyle]="setImportance()">very</span> important!</p>

    <input type="radio" name="preference"
           id="importantHighlight"
           style="transform:scale(1.5)"
           (click)="setStylePreference('hilite')">
    <label for="importantHighlight">Highlight</label>
    <input type="radio" name="preference"
           id="importantCaps"
           style="transform:scale(1.5)"
           (click)="setStylePreference('caps')">
    <label for="importantCaps">Caps</label>-->
    <!--    <app-form-input icon="envelope">
            <small>Business email</small>
            <label for="emailAddress">Email:</label>
            <input id="emailAddress" type="email" />
        </app-form-input>-->
</div>
